div{
  background-color: rgb(162, 127, 243);
  color: #000000;
  padding: 40px;
  font-family: 고딕;
  text-align: center;
}

h1{
  color: #ffffff;
  background-color: #7af79f;
  padding: 10px;
  font-family: 궁서;
}